/* 
    Document   : search.css
    Created on : Nov 27, 2011, 10:56:50 AM
    Author     : rwincewicz
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

canvas.ChemDoodleWebComponent {
    border: none;
}

