/* 
    Document   : islandora_chem_sp
    Created on : Nov 11, 2011, 11:38:12 AM
    Author     : rwincewicz
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.mw_range_from {
    float: left;
    margin-bottom: 20px;
}

.mw_range_to {
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
}

.mw_range_submit {
    float: right;
    margin-top: 23px;
    margin-bottom: 40px;
    margin-right: 10px;
}