/* 
    Document   : islandora_chem_sp
    Created on : Nov 11, 2011, 11:38:12 AM
    Author     : rwincewicz
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.mw_range_from {
    float: left;
}

.mw_range_to {
    float: left;
    margin-left: 20px;
}

.mw_range_submit {
    float: left;
    margin-top: 23px;
    margin-left: 20px;
    margin-right: 10px;
}

.codecomment {
    color: #027ac6;
}

pre { 
	font-family: Courier New, Bitstream Vera Sans Mono, monospace; 
	font-size: 9pt;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	padding: 0.4em;
	color: #000;
}
pre span.N{ color:green; } /* Numbers */
pre span.S{ color:#c9750f } /* Strings */
pre span.C{ color:gray; } /* Comments */
pre span.K{ color:blue;
            font-weight: bold;
} /* Keywords */
pre span.V{ color:#70d6ff; } /* Vars */
pre span.D{ color:#ff9a5d; } /* Defines */